<h1 align="center" class="listing_titles">Listing all articles</h1>

<!-- Pagination links -->
<div align="center">
  <%= will_paginate %>
</div>

<!-- List all articles in paginated form -->
<%= render 'article', obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>
