<h1 align="center" class="custom_font">About this project</h1>

<div align="center">
  <div class="row">
    <div class="well col-md-8 col-md-offset-2">
      <p id="about_text">I created Alpha Blog during my leisure to learn and practice the Ruby programming language, the Rails server-side framework, and the Bootstrap front-end framework. All of the code for Alpha Blog can be found here:</p>

      <a href="https://github.com/kevinmc14159/alpha-blog" target="_blank" class="custom_font" id="github_link"><span class="glyphicon glyphicon-folder-open"></span> Github repository</a>
    </div>
  </div>
</div>
